<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Harita</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Araç Yönetimi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Sürüşler</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Müşteriler</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Harita Kısıtlamaları</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Pazarlama</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Destek</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Organizasyon</a>
    </li>
</ul>