<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" routerLink="dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="main-map">Harita</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="scooter-management">Araç Yönetimi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="drives">Sürüşler</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="customers">Müşteriler</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="geofence">Harita Kısıtlamaları</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="commerce">Pazarlama</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="support">Destek</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="organization">Organizasyon</a>
    </li>
</ul>