<div class="section-container">
    <div class="cards">
        <div class="card-deck">
            <div class="card mb-3 shadow card-theme">
                <div class="card-header card-header-theme">
                    <h5>Kiralamalar</h5>
                </div>
                <div class="card-body">
                    <app-bar-chart></app-bar-chart>
                </div>
            </div>
            <div class="card mb-3 shadow card-theme">
                <div class="card-header card-header-theme">
                    <h5>Kiralama Süresi</h5>
                </div>
                <div class="card-body">
                    <app-pie-chart></app-pie-chart>
                </div>
            </div>
            <div class="card mb-3 shadow card-theme">
                <div class="card-header card-header-theme">
                    <h5>Scooter Durum</h5>
                </div>
                <div class="card-body">
                    <app-doughnut-chart></app-doughnut-chart>
                </div>
            </div>
            <!-- <div class="card mb-3 shadow card-theme">
                <div class="card-header card-header-theme">
                    <h5>Yeni Müşteriler</h5>
                </div>
                <div class="card-body">
                    <app-bar-chart></app-bar-chart>
                </div>
            </div> -->
            <div class="card mb-3 shadow card-theme">
                <div class="card-header card-header-theme">
                    <h5>Müşteri Durum</h5>
                </div>
                <div class="card-body">
                    <app-customer-status-rate></app-customer-status-rate>
                </div>
            </div>
            <!-- <div class="card mb-3 shadow card-theme">
                <div class="card-header card-header-theme">
                    <h5>Ciro</h5>
                </div>
                <div class="card-body">
                    <app-bar-chart></app-bar-chart>
                </div>
            </div> -->
        </div>
        <div class="card-deck">
            <div class="card mb-3 shadow card-theme">
                <div class="card-header card-header-theme">
                    <h5>Aylık Kiralamalar ve tutarları</h5>
                </div>
                <div class="card-body">
                    <app-line-chart></app-line-chart>
                </div>
            </div>
            <div class="card mb-3 shadow card-theme">
                <div class="card-header card-header-theme">
                    <h5>Aylık Kiralama Süreleri</h5>
                </div>
                <div class="card-body">
                    <app-line-rent-duration></app-line-rent-duration>
                </div>
            </div>
    </div>
</div>